<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/250fd47c9a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/global.css">
  <link rel="stylesheet" href="/public/admin/css/admin.css">
  <title>Admin Login - Admin Monte Verde in Funchal</title>
</head>

<body>
  <div class="showcase logcase">
    <div class="log_window">

      <div class="logo">
        <img src="/public/admin/img/Semerak Dashboard Logo Dark.png" alt="">
      </div>
      
      <form action="" method="post" class="log_form">
        <div class="form_group">
          <label for="user_name">Username</label>
          <input type="text" name="user_name" id="user_name" placeholder="Your username" required>
        </div>
        <div class="form_group">
          <label for="user_name">Password</label>
          <input type="text" name="user_name" id="user_name" placeholder="Your password" required>
        </div>
        <div class="form_group check_group">
          <label for="remember_user" class="checkbox_label">Remember me</label>
          <input type="checkbox" name="remember_user" id="remember_user" placeholder="Vaše heslo">
        </div>
        <input type="submit" id="submit" value="Log in">
      </form>

    </div>
  </div>

</body>

</html>