<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/250fd47c9a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/global.css">
  <link rel="stylesheet" href="/public/admin/css/admin.css">
  <title>Homepage - Admin Monte Verde in Funchal</title>
</head>

<body>
  <div class="showcase">

    <aside class="navigation_aside">
      <div class="aside_top">
        <div class="logo">
          <a href="admin-index.html">
            <img src="/public/admin/img/Semerak Dashboard Logo.png" alt="">
          </a>
        </div>
  
        <div class="navigation">
          <h3>Menu</h3>
          <nav>
            <ul>
              <li class="actual"><a href="admin-index.html"><i class="fa-solid fa-gauge-high"></i> <span>Home</span></a></li>
              <li><a href="admin-display-reservations.html"><i class="fa-solid fa-calendar-days"></i> <span>Reservations</span></a></li>
              <li class="articles_link">
                <a href="#">
                  <i class="fa-solid fa-newspaper"></i>
                  <span>Reviews</span> 
                  <i class="fa-solid fa-angle-down pull_right"></i>
                </a>
              </li>
              <div class="dropdown">
                <ul>
                  <li><a href="admin-add-review.html"><i class="fa-solid fa-plus"></i> <span>Add review</span></a></li>
                  <li><a href="admin-display-reviews.html"><i class="fa-solid fa-eye"></i> <span>Display reviews</span></a></li>
                </ul>
              </div>
            </ul>
          </nav>
        </div>
      </div>

      <div class="account">
        <h3>Profile</h3>

        <div class="profile_group">
          <i class="fa-solid fa-user"></i>
          <div class="profile_info">
            <h2>{ Owner Name }</h2>
            <p>Administrator</p>
          </div>
        </div>

        <div class="log_out_btn">
          <a href="admin-login.html"><i class="fa-solid fa-right-from-bracket pull_left"></i> <span>Log out</span></a>
        </div>
      </div>

      <button class="close_btn" aria-label="Zavírací tlačítko pro navigaci">
        <i class="fa-solid fa-angle-left"></i>
      </button>

    </aside>
    
    <div class="dashboard">

      <header>
        <div class="welcome">
          <h1>Welcome { Owner Name } 🎉</h1>
        </div>

        <div class="website_direction_btn">
          <a href="index.html" target="_blank">See website</a>
        </div>
      </header>

      <main>
        <section class="edit_page_sec table_edit_sec">
          <article id="villa_agave" class="edit_table_art">
            <h2>Interested in Monte Verde</h2>
            <table class="arts_table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Date from</th>
                  <th>Date to</th>
                  <th>Confirm</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="client_name">John Doe</td>
                  <td class="client_email">john.doe@gmail.com</td>
                  <td class="client_phone">+351 927 963 571</td>
                  <td class="date_from">20.6. 2023</td>
                  <td class="date_to">28.6. 2023</td>
                  <td class="action">
                    <a class="add highlight" href="#"><i class="fa-solid fa-check"></i></a>
                    <a class="delete" href="#"><i class="fa-solid fa-x"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="client_name">Mafalda Moura</td>
                  <td class="client_email">mmoura@gmail.com</td>
                  <td class="client_phone">+351 913 985 516</td>
                  <td class="date_from">19.6. 2023</td>
                  <td class="date_to">25.6. 2023</td>
                  <td class="action">
                    <a class="add highlight" href="#"><i class="fa-solid fa-check"></i></a>
                    <a class="delete" href="#"><i class="fa-solid fa-x"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>

          </article>
        </section>
      </main>

    </div>

    <div class="delete_overlay"></div>

    <div class="delete_popup">
      <h2>Do you want to delete a client reservation: <span></span>?</h2>
      <div class="delete_decision">
        <button id="yes" class="delete_btn_yes">Yes</button>
        <button id="no" class="delete_btn_no">No</button>
      </div>
    </div>

  </div>

  <script src="/public/admin/js/admin.js"></script>
  <script src="/public/admin/js/reservations.js"></script>

</body>

</html>