<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/250fd47c9a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/services.css">
    <link rel="stylesheet" href="/public/css/gallery.css">
    <title>Welcome - Monte Verde in Funchal</title>
</head>

<body>
    <div id="home" class="showcase relative bg_image">
        <div class="header_overlay case_size"></div>
        
        <header class="relative">
            <div class="header_top">
                <div class="logo">
                    <img src="/public/img/monte_verde_logo.svg" alt="Monte Verde Logo">
                </div>
                
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="gallery.html#gallery">Overview</a></li>
                        <li><a href="index.html#location">Location</a></li>
                        <li><a href="index.html#services">Services</a></li>
                        <li><a href="index.html#reviews">Reviews</a></li>
                        <li><a href="index.html#booking">Contact</a></li>
                    </ul>
                </nav>
                
                <button class="toggle-button" aria-label="Toggle Button - Hamburger Menu">
                    <span class="bar bar--top bar--small"></span>
                    <span class="bar bar--middle"></span>
                    <span class="bar bar--bottom bar--small"></span>
                </button>
                
            </div>
            
            <div class="mobile-navigation">
                <div class="mobile-navbar">
                    <a href="index.html">Home</a>
                    <a href="gallery.html#gallery">Overview</a>
                    <a href="index.html#location">Location</a>
                    <a href="index.html#services">Services</a>
                    <a href="index.html#reviews">Reviews</a>
                    <a href="index.html#booking">Contact</a>
                </div>
            </div>
            
            <div class="gallery_mini_nav">
                <a href="index.html">Home</a>
                <i class="fa-light fa-angle-right" style="color: #ff7676;"></i>
                <p>Overview</p>
            </div>
            
        </header>
    </div>
        
    <main>
        <section id="gallery">
            <article class="section_head">
                <h1>All photos</h1>
            </article>
            <div class="gallery_img">
                <div>
                    <img src="/public/img/gallery_8.jpeg" alt="couch at the lobby">
                    <p>Couch at the lobby</p>
                </div>
                <div>
                    <img src="/public/img/gallery_2.jpeg" alt="bedroom">
                    <p>Bedroom</p>
                </div>
            </div>
            <div class="gallery_img">
                <div>
                    <img src="/public/img/gallery_3.jpeg" alt="view from the hotel">
                    <p>View from the hotel</p>
                </div>
                <div>
                    <img src="/public/img/gallery_4.jpeg" alt="hotel restaurant">
                    <p>Hotel restaurant</p>
                </div>
            </div>
            <div class="gallery_img">
                <div>
                    <img src="/public/img/gallery_5.jpeg" alt="reception">
                    <p>Reception</p>
                </div>
                <div>
                    <img src="/public/img/gallery_6.jpeg" alt="pool">
                    <p>Pool</p>
                </div>
            </div>
            <div class="gallery_img">
                <div>
                    <img src="/public/img/gallery_7.jpeg" alt="alley between the hotel buildings">
                    <p>Alley between the hotel buildings</p>
                </div>
                <div>
                    <img src="/public/img/gallery_1.jpeg" alt="seats in the first floor">
                    <p>Seats in the first floor</p>
                </div>
            </div>
            <div class="gallery_img">
                <div>
                    <img src="/public/img/gallery_9.jpeg" alt="hotel room">
                    <p>Hotel room</p>
                </div>
                <div>
                    <img src="/public/img/gallery_10.jpeg" alt="play area">
                    <p>Play area</p>
                </div>
            </div>
        </section>
    </main>
        
        <footer>
            <article class="footer_art">
                <div class="logo">
                    <img src="/public/img/monte_verde_logo.svg" alt="Monte verde">
                </div>
                <ul class="footer_links footer_list">
                    <li>
                        <i class="fa-light fa-envelope"></i>
                        <a href="">E-mail</a>
                    </li>
                    <li>
                        <i class="fa-light fa-phone"></i>
                        <a href="">Phone number</a>
                    </li>
                </ul>
                <div class="website_info">
                    <ul class="footer_info footer_list">
                        <li>Copyright © 2023 Monte Verde in Funchal. All rights reserved.</li>
                        <li>
                            <i class="fa-light fa fa-long-arrow-up"></i>
                            <a href="#home">Back on top</a>
                            <i class="fa-light fa fa-long-arrow-up"></i>
                        </li>
                    </ul>
                </div>
            </article>
        </footer>
    
    <script src="/public/js/app.js"></script>
    
</body>
</html>