<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/250fd47c9a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/public/css/global.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/location.css">
  <link rel="stylesheet" href="/public/css/services.css">
  <link rel="stylesheet" href="/public/css/reviews.css">
  <title>Welcome - Monte Verde in Funchal</title>
</head>

<body>
  <div id="home" class="showcase relative case_size bg_image">
    <div class="header_overlay case_size"></div>
    
    <header class="relative case_size">
      <div class="header_top">
        <div class="logo">
          <img src="/public/img/monte_verde_logo.svg" alt="Monte Verde Logo">
        </div>
        
        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="gallery.html#gallery">Overview</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#booking">Contact</a></li>
          </ul>
        </nav>
        
        <button class="toggle-button" aria-label="Toggle Button - Hamburger Menu">
          <span class="bar bar--top bar--small"></span>
          <span class="bar bar--middle"></span>
          <span class="bar bar--bottom bar--small"></span>
        </button>
        
      </div>
      
      <div class="mobile-navigation">
        <div class="mobile-navbar">
          <a href="#home">Home</a>
          <a href="gallery.html#gallery">Overview</a>
          <a href="#location">Location</a>
          <a href="#services">Services</a>
          <a href="#reviews">Reviews</a>
          <a href="#booking">Contact</a>
        </div>
      </div>

      <section class="hero_sec">
        <article class="hero_titles">
          <h1>Welcome to Monte Verde in Funchal</h1>
          <p>
            Surrounded by gardens, this guest house offers an outdoor pool with 
            sun deck and a conservatory restaurant overlooking the surrounding vegetation.
          </p>
          <button class="hero_btn primar_btn">
            <a href="#booking">Book now</a>
          </button>
        </article>
        <article class="hero_gall">
          <article class="landscape_img">
            <a href="gallery.html">
              <img src="https://img.bedsandhotels.com/media/pic-monteverde-3.jpg" alt="">
            </a>
          </article>
          <div class="hero_row">
            <article class="rect_img">
              <a href="gallery.html">
                <img src="/public/img/hero_gall_rect_1.jpeg" alt="">
              </a>
            </article>
            <article class="rect_img">
              <a href="gallery.html">
                <img src="/public/img/hero_gall_rect_2.jpeg" alt="">
              </a>
            </article>
          </article>
        </section>
        
        <a href="#location" class="scroll-down">
          <div id="scroll_btn"></div>
        </a>
      
    </header>
  </div>
      
  <div class="scroll_view">

    <main>
      
      <section id="location">
        <div class="area_div">
          <div>
            <article class="section_head">
              <h1>What to do in Madeira</h1>
            </article>
            <article>
              <p>Explore Madeira's breathtaking landscapes by embarking on a thrilling levada walk. These narrow irrigation channels crisscross the island, offering scenic trails that wind through lush forests, picturesque valleys, and stunning coastal cliffs.

                Dive into the crystal-clear waters surrounding Madeira and discover a vibrant underwater world. Snorkeling and scuba diving enthusiasts can explore colorful coral reefs, encounter exotic marine life, and even dive alongside dolphins and turtles in their natural habitats.
                
                Take a scenic drive along Madeira's dramatic coastal roads, offering awe-inspiring views at every turn. From the dizzying heights of Cabo Girão, one of Europe's highest sea cliffs, to the rugged beauty of Ponta de São Lourenço, the island's easternmost point, the coastal scenery is a feast for the eyes.</p>
            </article>
          </div>
          <div>
            <article class="map">
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CeyMJUe5H17kQ8ie9acD-s__En89R6A&ehbc=2E312F" 
              width="100%"
              height="400" 
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy">
            </iframe>     
            </article>
          </div>
        </div>
        <div class="area_div">
          <div>
            <article class="location_heading_art">
              <div class="location_div_h2"><span class="material-symbols-outlined">
                directions_walk
              </span><h2>Levadas</h2>
            </div>
          </article>
          <article class="location_info_art">
            <div class="row_between">
              <p>Vereda do Areeiro
              </p>
              <p>20&nbsp;km</p>
            </div>
            <div class="row_between">
              <p>Vereda dos Balcões	
              </p>
              <p>20&nbsp;km</p>
            </div>
            <div class="row_between">
              <p>Levada das 25 Fontes	
              </p>
              <p>40&nbsp;km</p>
            </div>
            <div class="row_between">
              <p>Vereda da Ilha	
              </p>
              <p>50&nbsp;km</p>
            </div>      
          </article>
        </div>
        <div>
          <article class="location_heading_art">
            <div class="location_div_h2">
              <span class="material-symbols-outlined">
                beach_access
                </span><h2>Beaches</h2>
            </div>
          </article>
          <article class="location_info_art">
            <div class="row_between">
              <p>Ribeira Brava Beach</p>
            <p>19&nbsp;km</p>
          </div>
          <div class="row_between">
          <p>Machico Beach</p>
        <p>26&nbsp;km</p>
      </div>
            <div class="row_between">
                <p>Praia do Porto do Seixal</p>
              <p>40&nbsp;km</p>
            </div>
            <div class="row_between">
              <p>Porto Moniz Bathing Pools</p>
            <p>48&nbsp;km</p>
          </div>
          </article>
        </div>
        <div>
          <article class="location_heading_art">
            <div class="location_div_h2">
              <span class="material-symbols-outlined">
                attractions
                </span><h2>Iconic things</h2>
            </div>
          </article>
          <article class="location_info_art">
            <div class="row_between">
              <p>Cabo Girão</p>
            <p>14&nbsp;km</p>
          </div>
          <div class="row_between">
          <p>Magic Dolphin</p>
        <p>2,4&nbsp;km</p>
      </div>
            <div class="row_between">
                <p>Pico do Arieiro</p>
              <p>22&nbsp;km</p>
            </div>
            <div class="row_between">
              <p>Monte Palace </p>
            <p>5,5&nbsp;km</p>
          </div>
      </div>
      
      </section>

      <section id="services" class="facilities_services">
        <div>
          <article class="section_head">
            <h1>Facilities and our services</h1>
            <p>Surrounded by gardens, this guest house offers an outdoor pool with sun deck and a conservatory restaurant overlooking the surrounding vegetation.</p>
          </article>
        </div>
        <section class="service p-0 wrap">
          <article>
            <i class="fa-light fa-booth-curtain"></i>
            <div>
              <h3>Room service</h3>
            </div>
          </article>
          <article>
            <i class="fa-light fa-water-ladder"></i>
            <div>
              <h3>Swimming pool</h3>
            </div>
          </article>
          <article>
            <i class="fa-light fa-circle-parking"></i>
            <div>
              <h3>Free parking</h3>
            </div>
          </article>
          <article>
            <i class="fa-sharp fa-light fa-bowl-food"></i>
            <div>
              <h3>Breakfast</h3>
            </div>
          </article>
          <article>
            <i class="fa-light fa-martini-glass-citrus"></i>
            <div>
              <h3>Bar</h3>
            </div>
          </article>
          <article>
            <i class="fa-light fa-wifi"></i>
            <div>
              <h3>Free Wifi</h3>
            </div>
          </article>
        </section>
      </section>

      <section id="reviews" class="reviews_parent_sec col">
        <article class="section_head reviewNadpis">
          <h1>Reviews</h1>
        </article>

        <section class="reviews_child_sec p-0 wrap">
          <article class="reviewItem">
            <div class="menHvez">
              <div class="profileImg">
                <div class="circle">
                  <span class="letter">I</span>
                </div>
                <p class="jmeno">Iana Portugal</p>
              </div>
              
              <ul>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <div class="review_part">
              <p class="review">
                "Check in possible even in 3 oclock in the night 
                Calm location Nice personnel."
              </p>
              <p>June 10, 2023</p>
            </div>
          </article>
          
          <article class="reviewItem">
            <div class="menHvez">
              <div class="profileImg">
                <div class="circle">
                  <span class="letter">A</span>
                </div>
                <p class="jmeno">Antonio Portugal</p>
              </div>
              <ul>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
              </ul>
            </div>
            <div class="review_part">
              <p class="review">
                "It was extremely clean. :) Staff was nice and helpful. 
                We recommend this place to everyone."
              </p>
              <p>May 29, 2023</p>
            </d>
          </article>
                    
          <article class="reviewItem">
            <div class="menHvez">
              <div class="profileImg">
                <div class="circle">
                  <span class="letter">E</span>
                </div>
                <p class="jmeno">Eduardo Portugal</p>
              </div>
              <ul>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <div class="review_part">
              <p class="review">
                "Staff are very friendly; breakfasts are good and ample, 
                with help-yourself coffee; lounges are nicely appointed; 
                there's a pool; free WiFi. Rooms with sea view are pretty, 
                although the common dining room and balcony also have views. 
                The hotel is very good value for its rates. English spoken."
              </p>
              <p>May 8, 2023</p>
            </div>
          </article>
          
          <article class="reviewItem">
            <div class="menHvez">
              <div class="profileImg">
                <div class="circle">
                  <span class="letter">A</span>
                </div>
                <p class="jmeno">Amanda Johnson</p>
              </div>
              <ul>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
              </ul>
            </div>
            <div class="review_part">
              <p class="review">
                "My stay at Monte Verde was a fantastic experience! 
                From the moment I walked in, the staff at the reception 
                greeted me with warm smiles and made me feel truly welcome."
              </p>
              <p>April 27, 2023</p>
            </div>
          </article>

          <article class="reviewItem">
            <div class="menHvez">
              <div class="profileImg">
                <div class="circle">
                  <span class="letter">A</span>
                </div>
                <p class="jmeno">Amanda Johnson</p>
              </div>
              <ul>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
              </ul>
            </div>
            <div class="review_part">
              <p class="review">
                "My stay at Monte Verde was a fantastic experience! 
                From the moment I walked in, the staff at the reception 
                greeted me with warm smiles and made me feel truly welcome."
              </p>
              <p>April 27, 2023</p>
            </div>
          </article>
        </section>
      </section>
    
      <section id="booking" class="contact_sec col bg_image">
        <div class="header_overlay"></div>

        <article class="section_head">
          <h1>Appointment booking</h1>
        </article>
        <section class="booking_sec p-0">
          <article class="booking_form_art">
        
            <form class="booking_form" action="" method="POST">
              <input type="text" name="name" id="name" placeholder="Your full name" class="data_input" required>
              <input type="email" name="email" id="email" placeholder="Your @email" class="data_input" required>
              <input type="text" name="phone" id="phone" placeholder="Your phone number" class="data_input" required>
              <input type="text" name="date" id="date" placeholder="Select a date in the calendar" class="data_input" required>
              <input type="submit" name="submit" id="submit" value="Contact Host" class="data_input">
              <input type="hidden" name="action" id="action" value="Contact Host">
            </form>

          </article>
        </section>
      </section>

    </main>

    <footer>
      <article class="footer_art">
        <div class="logo">
          <img src="/public/img/monte_verde_logo.svg" alt="Monte verde">
        </div>
        <ul class="footer_links footer_list">
          <li>
            <i class="fa-light fa-envelope"></i>
            <a href="">E-mail</a>
          </li>
          <li>
            <i class="fa-light fa-phone"></i>
            <a href="">Phone number</a>
          </li>
        </ul>
        <div class="website_info">
          <ul class="footer_info footer_list">
            <li>Copyright © 2023 Monte Verde in Funchal. All rights reserved.</li>
            <li>
              <i class="fa-light fa fa-long-arrow-up"></i>
              <a href="#home">Back on top</a>
              <i class="fa-light fa fa-long-arrow-up"></i>
            </li>
          </ul>
        </div>
      </article>
    </footer>
  </div>
      
  <script src="/public/js/app.js"></script>
  <script src="/public/js/reviews.js"></script>
  
</body>

</html>