<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/global.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <title>Welcome - Monte Verde in Funchal</title>
</head>

<body>
  <div id="home" class="showcase relative case_size">
    <div class="header_overlay case_size"></div>

    <header class="relative case_size">
      <div class="header_top">
        <div class="logo">
          <img src="/public/img/monte_verde_logo.svg" alt="Monte Verde Logo">
        </div>

        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="gallery.html">Overview</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#booking">Contact</a></li>
          </ul>
        </nav>
        
      </div>

      <section class="hero_sec">
        <article class="hero_titles">
          <h1>Welcome to Monte Verde in Funchal</h1>
          <p>
            Surrounded by gardens, this guest house offers an outdoor pool with 
            sun deck and a conservatory restaurant overlooking the surrounding vegetation.
          </p>
          <button class="hero_btn primar_btn">
            <a href="#booking">Book now</a>
          </button>
        </article>
        <article class="hero_gall">
          <article class="landscape_img">
            <a href="gallery.html">
              <img src="https://img.bedsandhotels.com/media/pic-monteverde-3.jpg" alt="">
            </a>
          </article>
          <div class="hero_row">
            <article class="rect_img">
              <a href="gallery.html">
                <img src="https://img.bedsandhotels.com/media/pic-monteverde-7.jpg" alt="">
              </a>
            </article>
            <article class="rect_img">
              <a href="gallery.html">
                <img src="https://img.bedsandhotels.com/media/pic-monteverde-6.jpg" alt="">
              </a>
            </article>
        </article>
      </section>

      <a href="#services" class="scroll-down">
        <div id="scroll_btn"></div>
      </a>
    </header>

  </div>  
</body>

</html>