<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/250fd47c9a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/global.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/services.css">
  <title>Welcome - Monte Verde in Funchal</title>
</head>

<body>
  <div id="home" class="showcase relative case_size bg_image">
    <div class="header_overlay case_size"></div>

    <header class="relative case_size">
      <div class="header_top">
        <div class="logo">
          <img src="/public/img/monte_verde_logo.svg" alt="Monte Verde Logo">
        </div>

        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="gallery.html">Overview</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#booking">Contact</a></li>
          </ul>
        </nav>
        
      </div>

      <section class="hero_sec">
        <article class="hero_titles">
          <h1>Welcome to Monte Verde in Funchal</h1>
          <p>
            Surrounded by gardens, this guest house offers an outdoor pool with 
            sun deck and a conservatory restaurant overlooking the surrounding vegetation.
          </p>
          <button class="hero_btn primar_btn">
            <a href="#booking">Book now</a>
          </button>
        </article>
        <article class="hero_gall">
          <article class="landscape_img">
            <a href="gallery.html">
              <img src="https://img.bedsandhotels.com/media/pic-monteverde-3.jpg" alt="">
            </a>
          </article>
          <div class="hero_row">
            <article class="rect_img">
              <a href="gallery.html">
                <img src="https://img.bedsandhotels.com/media/pic-monteverde-7.jpg" alt="">
              </a>
            </article>
            <article class="rect_img">
              <a href="gallery.html">
                <img src="https://img.bedsandhotels.com/media/pic-monteverde-6.jpg" alt="">
              </a>
            </article>
        </article>
      </section>

      <a href="#services" class="scroll-down">
        <div id="scroll_btn"></div>
      </a>
    </header>

  </div>
  
  <div class="scroll_view">

    <main>

      <section id="services" class="facilities_services">
        <div>
          <article class="section_head">
            <h1>Facilities and our services</h1>
            <p>Surrounded by gardens, this guest house offers an outdoor pool with sun deck and a conservatory restaurant overlooking the surrounding vegetation.</p>
          </article>
        </div>
        <div class="service">
        <article>
          <img style="width: 100px;" src="/public/img/hotel.png" alt="">
          <div>
          <h3>Swimming pool</h3>
          <h3>Garden</h3>
          <h3>Bar</h3>
          </div>
        </article>
        <article>
          <img style="width: 100px;" src="/public/img/receptionist.png" alt="">
          <div>
          <h3>24/7 front desk</h3>
          <h3>Free parking</h3>
          <h3>Free Wi-Fi</h3>
          </div>
        </article>
        <article>
          <img style="width: 100px;" src="/public/img/massage.png" alt="">
          <div>
          <h3>Full body massage</h3>
          <h3>Back massage</h3>
          <h3>Foot massage</h3>
          </div>
        </article>
        </div>
      </section>

    </main>
  </div>
  <footer>
    <article class="footer_art">
      <div class="logo">
        <img src="/public/img/monte_verde_logo.svg" alt="Monte verde">
      </div>
      <ul class="footer_links footer_list">
        <li>
          <i class="fa-light fa-envelope"></i>
          <a href="">E-mail</a>
        </li>
        <li>
          <i class="fa-light fa-phone"></i>
          <a href="">Phone number</a>
        </li>
      </ul>
      <div class="website_info">
        <ul class="footer_info footer_list">
          <li>Copyright © 2023 Grandview. All rights reserved.</li>
          <li>
            <i class="fa-light fa fa-long-arrow-up"></i>
            <a href="#home">Back on top</a>
            <i class="fa-light fa fa-long-arrow-up"></i>
          </li>
        </ul>
      </div>
    </article>
  </footer>
  <script src="/public/js/app.js"></script>
  
</body>

</html>