.area_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.area_div div {
    flex: 1;
}
.section_head h1 {
    margin-bottom: 0;
}
#location {
    display: flex;
    flex-direction: column;
}
.location_heading_art {
    margin-bottom: 0;
    padding-bottom: 0;
}
.location_div_h2 {
    display: flex;
    flex-direction: row;
}
.location_info_art {
    gap: 15px;
}
.row_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.restaurant_row {
    display: flex;
    flex-direction: row;
}
.type {
    margin-right: 15px;
}
.location_div_h2 span {
    margin-right: 15px;
    color: var(--pink);
}
#location p {
    word-wrap: normal;
}
article.map{
    align-items: center;
}
@media(max-width: 900px){
    .area_div {
        flex-direction: column;
    }
}