.hero_sec {
  position: absolute;
  align-items: center;
  top: 50%;
  padding-block: 0;
  transform: translateY(-50%);
}

.hero_titles h1 {
  font-size: 3.25em;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--white);
}

.hero_titles p {
  margin-bottom: 20px;
  color: var(--smoke);
}

.hero_btn a:hover {
  color: var(--white);
}

.hero_gall article {
  margin: 5px;
  padding: 0;
}

.hero_row {
  display: flex;
}

.landscape_img img {
  height: 250px;
}

.rect_img img {
  height: 150px;
}

.scroll-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: 0;
}

.scroll-down #scroll_btn {
  display: inline-block;
  position: relative;
  width: 1px;
  height: 60px;
  background-color: var(--pink);
}

.scroll-down #scroll_btn:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: -0.4em;
  border-radius: 50%;
  background-color: var(--pink);
  animation: move-down 2.5s alternate infinite;
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(35px);
  }
}

.contact_sec>article,
.contact_sec>section {
  position: relative;
}

.contact_sec .section_head h1 {
  color: var(--white);
}

.booking_sec {
  justify-content: center;
  gap: 20px;
  margin-top: 2.5em;
}

.booking_sec article {
  margin-inline: 0;
}

.booking_form_art {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  max-width: min-content;
  padding: 3em 4em;
  border-radius: 20px;
  background-color: var(--white);
}

.calendar_colors_info {
  display: flex;
  gap: 40px;
  margin-top: 1.5em;
}

.color_info_row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.defined_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color_info_row p {
  color: var(--gray);
}

.defined_color#available {
  background-color: var(--available);
}

.defined_color#booked {
  background-color: var(--booked);
}

.defined_color#changeover {
  background-color: var(--changeover);
}

.booking_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.booking_form .data_input {
  height: 55px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 350ms;
}

.booking_form .data_input {
  padding: 10px 15px;
  background-color: #f9f9f9;
}

.booking_form .data_input:hover,
.booking_form .data_input:focus {
  background-color: #eee;
}

.booking_form .checkbox_row {
  display: flex;
  gap: 1em;
  margin-block: 10px;
}

.booking_form .checkbox_row label {
  font-size: 0.9em;
}

.booking_form .checkbox_row label a:hover {
  text-decoration: underline;
}

.booking_form #submit {
  cursor: pointer;
  color: var(--white);
  border: 2px solid var(--pink);
  border-radius: 50px;
  background-color: var(--pink);
  transition: var(--transition-short);
}

.booking_form #submit:hover {
  color: var(--dark);
  background-color: transparent;
}

.showcase {
  background-image: url(header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_titles h1 {
  font-size: 3.25em;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--white);
}

.hero_titles p {
  margin-bottom: 20px;
  color: var(--smoke);
}

.primar_btn {
  display: flex;
}

.scroll-down #scroll_btn:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: -0.4em;
  border-radius: 50%;
  background-color: var(--pink);
  animation: move-down 2.5s alternate infinite;
}

.bar {
  display: block;
  position: absolute;
  border-radius: 2px;
  background-color: var(--smoke);
  height: var(--rectangle-height);
  transition: transform var(--transition-long);

}

.bar--small {
  width: var(--button-width);
}

.toggle-button:hover .bar--small {
  width: calc(var(--button-width) / 2);
  transition: var(--transition-short);
}

.bar--top {
  top: 0;
  left: 0;
  transform-origin: top left;
}

.bar--top.open {
  transform: translateX(var(--translate)) rotate(45deg);
}

.bar--middle {
  top: 50%;
  left: 0;
  width: var(--button-width);
  transform: translatey(-50%);
}

.bar--middle.open {
  transform: translatey(-50%) rotate(-45deg);
}

.bar--bottom {
  bottom: 0;
  right: 0;
  width: var(--button-width);
  transform-origin: bottom right;
}

.bar--bottom.open {
  transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
}

.toggle-button .bar.is-active {
  opacity: 0;
}

.toggle-button {
  display: none;
  position: absolute;
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  width: var(--button-width);
  min-width: 30px;
  height: var(--button-height);
  border-radius: 30px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 4;
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mobile-navbar a {
  text-align: center;
  margin: .5em;
  padding: 20px 35px;
  color: var(--white);
  border-bottom: 1px solid var(--smoke);
  transition: all .35s ease;
}

.mobile-navigation.is-active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.mobile-navigation {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 1.5em 10%;
  left: -100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: var(--black);
  transition: var(--transition-long);
  z-index: 2;
}

.heroes {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 900px) {
  .mobile-navigation {
    display: flex;
  }
}

@media(max-width: 900px) {
  .header_top {
    background-color: var(--black);
    transition: 0s;
  }

  .header_top nav {
    display: none;
  }

  .toggle-button {
    display: flex;  
    top: 7%;
    right: 5%;
    transform: translateY(-60%);
  }

  .hero_gall {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header_top {
    padding-inline: 5%;
  }
} 

@media (max-width: 1200px) {
    .booking_sec{
      display: flex;
      flex-direction: column;
    }
}