/*service*/
.facilities_services{
    display: flex;
    flex-direction: column;
    cursor: default;
}

.service{
    display: flex;
    flex-direction: row;
}

.service article{
    text-align: center;
    align-items: center;
    gap: 20px;
    min-width: 300px;
}

.service i {
  font-size: 2.5em;
  gap: 20px;
  color: var(--pink);
}
@media(max-width:360px){
  .service article{
    min-width: 0px;
}
}
@media(max-width:820px){
    .service{
        flex-direction: column;
    }
}

/*footer*/
footer {
    display: flex;
    background-color: var(--black);
  }
  
  .footer_art {
    align-items: center;
    padding: 2em;
  }
  
  .footer_art .logo img {
    width: 200px;
    margin-bottom: 10px;
  }
  
  .footer_list {
    list-style: none;
  }
  
  .footer_list li {
    line-height: 1.8;
  }
  
  .footer_links li a {
    color: var(--smoke);
  }
  
  .footer_links li a:hover {
    text-decoration: underline 1px white;
    color: var(--white);
  }
  
  .footer_links li i {
    width: 25px;
    color: var(--smoke);
  }
  
  .website_info {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .footer_info li {
    text-align: center;
    color: var(--smoke);
  }
  
  .footer_info li a {
    color: var(--smoke);
  }
  
  .footer_info li a:hover {
    text-decoration: underline 1px white;
  }
  .footer_info li i{
    color: var(--smoke);
  }